.container {
  background-color: rgba(31, 40, 241, 0.09);

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  width: 100%;
}

@media (max-width: 991px) {
  .container {
    max-width: 100%;
  }
}

.title {
  margin-top: 2.6rem;

}

.title svg {
  @media (max-width: 991px) {
    width: 80vw;
  }
}

/* .title {
  color: var(--branco, #f0f0f0);
  text-transform: uppercase;

  border-radius: 10px;

  background-color: #1f28f1;

  margin-top: 24px;

  padding: 6px 26px 0;

  font: 400 46px Balgin-BoldItalic, -apple-system, Roboto, Helvetica, sans-serif;
  font-size: 2rem;
}

@media (max-width: 991px) {
  .title {
    max-width: 100%;
    font-size: 1.6rem;
  }
} */

.img {
  width: 85%;
  margin: 3rem 0;
}

@media (max-width: 991px) {
  .img {
    display: flex;
    margin: 3rem 0;
  }
}
