<div class="container">
  <div class="title">
    WHAT WE DO
  </div>
  <div class="content-area">
    <div class="content">
      <div class="column">
        <img
          loading="lazy"
          src="https://cdn.builder.io/api/v1/image/assets/TEMP/720e84c9be7286d6582fa6694a73fe5c56c369a8ff4c6850a9f46dd85bc49a09?apiKey=1e324e1e8f6a4c749ed77a52bf07ea06&"
          class="img"
        />
      </div>
      <div class="column-2">
        <div class="description">
          We are a company focused on innovation and technology for brands
          looking to enter the web3.0 communities.
          <br />
          <br />
          Our strength lies in strategies that aim for the maximum brand reach
          throughout the user's journey.
        </div>
      </div>
    </div>
  </div>
</div>
